<h1>{{title}}</h1>

<section>
    <div>
        <form action="/cards/create">
            <input name="q">
            <button>Research Word</button>
        </form>
    </div>
</section>

<section>
    <h2>Staged cards</h2>
    <p>We have <b>{{countStaged}}</b> / {{countCard}} staged cards. [<a href="/cards/export">Export Staged</a>]</p>
    {{>card_list}}
</section>
