<div class="jumbotron">
    <h1 class="display-3">{{title}}</h1>

    <p class="lead">A tool to research and export German vocabulary cards for Anki</p>
    <hr class="my-4">

    <form action="/cards/create">
        <div class="form-group row">
            <div class="col-sm-8">
                <input class="form-control" name="q">
            </div>
            <div class="col-sm-4">
                <button class="btn btn-primary btn-block">Research Word</button>
            </div>
        </div>
    </form>
</div>

<section>
    <h2>Staged cards</h2>
    <p>We have <b>{{countStaged}}</b> / {{countCard}} staged cards. [<a href="/cards/export">Export Staged</a>]</p>
    {{>card_list}}
</section>
