<h1>Purge all cards</h1>
<p>This will delete all existing cards permanently. There is no way to recover them after. Are you sure?</p>

<form method="post">
    <input type="hidden" name="confirm" value="1">
    <button>Yes, purge!</button>
</form>
