<h1>Purge all cards</h1>
<p class="lead">This will delete all existing cards permanently. There is no way to recover them after!</p>
<p class="lead">Are you sure?</p>

<form method="post">
    <input type="hidden" name="confirm" value="1">
    <button class="btn btn-danger">Yes, purge!</button>
</form>
