<section>
    <form method="post">
        <h1>Register</h1>

        {{>auth_fields}}

        <div class="actions text-center">
            <button class="btn btn-primary" accesskey="s">Sign up</button>
        </div>
    </form>
</section>
